<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdwikuntobayu.androidbasic" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThridActivity"
            android:label="@string/title_activity_thrid"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.ThridActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fourth"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.FourthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiveActivity"
            android:label="@string/title_activity_five"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.FiveActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SixActivity"
            android:label="@string/title_activity_six"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.SixActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SevenActivity"
            android:label="@string/title_activity_seven"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.SevenActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".TheService"
            android:exported="false" />

        <activity
            android:name=".EightActivity"
            android:label="@string/title_activity_eight"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.EightActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NineActivity"
            android:label="@string/title_activity_nine"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.NineActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TenActivity"
            android:label="@string/title_activity_ten"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.TenActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElevenActivity"
            android:label="@string/title_activity_eleven"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.ElevenActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TwelveActivity"
            android:label="@string/title_activity_twelve"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.TwelveActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirteenActivity"
            android:label="@string/title_activity_thirteen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.mdwikuntobayu.androidbasic.ThirteenActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
